/*
Description:  theme for Classes
Author:       Erjan Amanturov
Author URI:   https://knighthawk0811.github.io
License: GPLv3
License URI: http://www.gnu.org/licenses/gpl.html
*/

/*--------------------------------------------------------------
>>> COLORS:	  
----------------------------------------------------------------
:root {
  --color-variable: #ffffff;
}


----------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Universal
# General Elements
# Navigation
# Header Area
# Content Area
# Aside Elements
# Footer Area
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Universal
--------------------------------------------------------------*/
html * {
    box-sizing: border-box;
}

/*--------------------------------------------------------------
# General Elements
--------------------------------------------------------------*/
body {
    margin: 0; /* Removes margin from the body */
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
nav ul {
    list-style-type: square;
}

nav ul li {
    color: red; 
}

nav ul li a {
    color: black; 
}

nav a:hover {
    color: blue;
}

nav a:visited {
    color: purple; 
}

nav a:active {
    color: green;
}

/*--------------------------------------------------------------
# Header Area
--------------------------------------------------------------*/
header {
    background-color: #008833; 
    padding: 1rem; 
}

/*--------------------------------------------------------------
# Content Area
--------------------------------------------------------------*/
main {
    width: calc(70% - 1px); 
    float: left; 
    padding: 1rem;
    border-right: 1px solid black; 
}

/*--------------------------------------------------------------
# Aside Elements
--------------------------------------------------------------*/
aside {
    width: 30%; 
    float: right; 
}

/*--------------------------------------------------------------
# Footer Area
--------------------------------------------------------------*/
footer {
    background-color: #008833; 
    text-align: center; 
    padding: 1rem; 
    clear: both;
}